@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Curso Udemy - React + Azure + Docker 14/01/2022 ****</p>
    <h1>CURSO UDEMY - Azure + Docker 15/01/2022 21:42</h1>
</div>
